﻿body, form, div, a, p, img {
    margin: 0px;
    padding: 0px;

    font-family: Trebuchet MS;
    font-size: 11px;
}
            
div.header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 35px;

    background: #A2D000 url("graphics/stripes_bg.png") top left repeat-x;
    border-bottom: 1px solid #000000;
}
    div.header div.title {
        float: left;
        width: 495px;
        padding: 2px 5px 2px 5px;

        background: url("graphics/title_bg.png") top left no-repeat;
        font-size: 24px;
        font-weight: bold;
        text-align: left;
        color: #333333;
    }
    div.header div.logo {
        float: right;
        width: 140px;
        height: 95px;
        margin: 0px 0px 0px 0px;

        background: url("graphics/logo_bg.png") top left no-repeat;
    }
        div.header div.logo div.animation {
        float: right;
        width: 80px;
        height: 95px;
        margin: 0px 20px 0px 0px;

        background: url("graphics/loading(80px).gif") top left no-repeat;
        }

div.footer {
    position: fixed;
    bottom: 2px;
    right: 50px;

    min-width: 280px;
    height: 35px;

    background: #A2D000 url("graphics/stripes_bg.png") top left repeat-x;
    border: 1px solid #000000;
    border-radius: 5px;
}

div.content {
    float: left;
    width: 100%;
    padding: 70px 0px 50px 0px;
}

    div.section {
        float: left;
        width: 98%;
        margin: 0px 1% 10px 1%;

        border: 1px solid #000000;
        border-radius: 5px;
        background: #eaeaea;
    }
        div.section div.border {
            clear: both;
            float: left;
            width: 100%;
            height: 4px;

            background: #A2D000 url("graphics/stripes_bg.png") top left repeat-x;
        }
            div.section div.border_top {
                border-bottom: 1px solid #333333;
            }
            div.section div.border_bottom {
                border-top: 1px solid #333333;
                margin-top: 2px;
            }
        div.section div.description {
            float: left;
            padding: 0px 90px 2px 0px;
            text-align: left;
        }
        div.section div.title {
            float: left;
            width: 480px;
            height: 27px;
            margin: 0px 0px 8px 0px;
            padding: 4px 10px 4px 10px;

            background: url("graphics/section_title_bg.png") top left no-repeat;
            font-size: 16px;
            font-weight: bold;
            text-align: left;
        }
            div.section div.description div.info {
                margin: 4px 0px 0px 10px;

                color: #333333;
                font-size: 8px;
            }
        div.section div.body {
            clear: both;
            float: left;
            width: 98%;
            padding: 10px 1% 10px 1%;
        }
            div.section div.body div.line {
                clear: both;
                float: left;
                width: 100%;
                margin: 0px 0px 2px 0px;

                border-bottom: 1px dotted #A2D000;
            }
                div.section div.body div.line div.key {
                    float: left;
                }
                div.section div.body div.line div.value {
                    float: right;
                }
                    div.section div.body div.line div.value input {
                        color: #666666;
                        font-size: 9px;
                    }
                    div.section div.body div.line div.value input.small {
                        width: 60px;
                    }

div.button {
    width: 120px;
    height: 20px;

    cursor: pointer;
}
div.button:hover {
    background-position: left bottom;
}
    div.button_logout {
        float: right;
        margin: 8px 10px 16px 10px;
        background: url("graphics/button_logout_bg.png") top left no-repeat;
    }
    div.button_apply {
        float: left;
        margin: 8px 10px 16px 10px;
        background: url("graphics/button_apply_bg.png") top left no-repeat;
    }
    div.button_cancel {
        float: left;
        margin: 8px 10px 16px 10px;
        background: url("graphics/button_cancel_bg.png") top left no-repeat;
    }